{% extends "blog/base.html" %}
{% block content %}
    <h1>What is a Blog?</h1>
       <p>Definition of blog
        A blog (shortening of “weblog”) is an online journal or informational website displaying information in the reverse chronological order, with latest posts appearing first. It is a platform where a writer or even a group of writers share their views on an individual subject.
        </p>   
        <h3>Blog structure</h3>
        <p>The appearance of blogs changed over time, and nowadays blogs include different items. But, most blogs include some standard features and structure. Here are common features that a typical blog will include:
        </p>
        <h4>Header with the menu or navigation bar
        Main content area with highlighted or latest blog posts
        Sidebar with social profiles, favorite content, or call-to-action
        Footer with relevant links like a disclaimer, privacy policy, contact page, etc.</h4>
{% endblock content %}